* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: inherit;
    list-style-type: inherit;
    list-style-position: inherit;
    line-height: inherit;
    text-align: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
  }